.introduction {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
}

.introduction svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 600px);
}

.loaderText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
}

.layer1, .layer2, .layer3 {
    filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.2));
}

.layer1 {
    fill: #FFFFFF;
}

.layer2 {
    fill: #DBEEFC;
}

.layer3 {
    fill: #A5D6F5;
}
